<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Instagram</title>
		<link rel="stylesheet" href="/assets/css/feed_style.css">
		<link rel="icon" href="/assets/images/favicon.ico" type="image/gif" sizes="16x16">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>

	<body>
		{% include "templates/nav-bar.twig" %}

		<div class="home-content">

			<div class="posts">

				{% for post in posts %}
					{% if post.path == "" %}
						{% else %}
							<div class="post" id="post-{{post.post_id}}">
								<div class="username">

									<img class="post-profile_image" src="{{post.profile_pic}}">
									<h2 class="post-username">
										<a href="\user?user_id={{post.user_id}}">{{post.username}}</a>
									</h2>
								</div>
								<img class="post-image" src="{{post.path}}">

								<div class="caption">
									{% if post.liked == "true" %}
										<img class="post-like" id="{{post.post_id}}" src="/assets/images/heart_activated.png">
									{% else %}
										<img class="post-like" id="{{post.post_id}}" src="/assets/images/heart.png">
									{% endif %}
									<div class="likes">
										<h3 class="like-count">
											{{post.likes}}
										</h3>
										<h3 class="like-text">likes</h3>
									</div>
									<div class="post-caption">
										<img class="post-profile_image" src="{{post.profile_pic}}">
										<h2>{{post.username}}</h2>
										<h4>{{post.caption}}</h4>
									</div>
									<div class="post-comment">
										<form class="input-form" method="POST">
											<input class="input-field" type="text" name="comment" placeholder="Add a comment...">
											<button class="submit-button" type="submit" value="submit">Post</button>
										</form>

										<div class="comment" id = "user-comment">
											<h2></h2>
											<h4></h4>
										</div>

										{% for comment in post.comments %}
											<div class="comment">
												<h2>{{comment.username}}</h2>
												<h4>{{comment.comment}}</h4>
											</div>
										{% endfor %}
									</div>
								</div>

							</div>
					{% endif %}
				{% endfor %}
				<script src="/assets/js/feed.js"></script>
			</div>

		</div>
	</body>
</html></body></html></body></html>
