<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Instagram</title>
		<link rel="stylesheet" href="/assets/css/feed_style.css">
		<link rel="icon" href="/assets/images/favicon.ico" type="image/gif" sizes="16x16">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>

	<body>
		{% include "templates/nav-bar.twig" %}

		<div class="home-content">

			<div class="posts">

				{% for post in posts %}
					{% if post.path == "" %}

						{% else %}
							<div class="post" id="post-{{post.post_id}}">
								<div class="username">

									<img class="post-profile_image" src="{{post.profile_pic}}">

									<h2 class="post-username">{{post.username}}</h2>
								</div>
								<img class="post-image" src="{{post.path}}">

								<div class="caption">
									<img class="post-like" id="{{post.post_id}}" src="/assets/images/heart.png">
									<h2 class="post-caption">{{post.caption}}</h2>
								</div>
							</div>
					{% endif %}
				{% endfor %}
				<script src="/assets/js/feed.js"></script>
			</div>

		</div>
	</body>
</html></body></html>
